<style>
    .line-year {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
    }

    .year {
        width: 200px;
        text-align: center;
    }

    .description {
        width: 70%;
    }
    
    h2 {
        color: #EEBF77;
        border-bottom: solid thin #EEBF77;
        font-size: 32px;
    }
</style>

<section>
    
    <h2>A propos</h2>

    <div class="">
        <div>Née le 9 mai 2000 à Avignon, profondément attachée au climat et aux paysages du Sud de la France et engagée dans leur protection.
        Musicienne au CRR d'Avignon pendant 10 ans, je choisis la voie scientifique en intégrant l'école polytechnique. </div>
    </div>
    <div class="">
        <div>Je compose encore tant graphiquement que musicalement en m'associant à des projets étudiants.</div>
    </div>
</section>