<style>
    .line-year {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
    }

    .year {
        width: 200px;
        text-align: center;
    }

    .description {
        width: 70%;
    }
    
    h2 {
        color: #EEBF77;
        border-bottom: solid thin #EEBF77;
        font-size: 32px;
    }
</style>

<section>
    <h2>Awards and Prizes</h2>
 
    <div class="line-year">
        <div class="year">2013</div>
        <div class="description">Claude Kahn contest, with High Honours</div>
    </div> 

    <h2>Hobbies and Sports</h2>
 
    <div class="">
        <div>Practiced judo for 8 years, selected for national championship 2nd category</div>
    </div>
    <div class="">
        <div>Member of boxing section at Ecole Polytechnique, France</div>
    </div> 
    <div class="">
        <div>Member of a circus and a theatre company for a few years</div>
    </div> 
    <div class="">
        <div>Playing the piano, drawing, painting</div>
    </div> 
    <div class="">
        <div>Tropical fish and plants enthusiast</div>
    </div>

    <h2>Art and Skills</h2>

    <div class="">
        <div>Certificate of Musical Studies (piano)</div>
    </div>
    <div class="">
        <div>Internship about drawing buildings and sculptures</div>
    </div>
    <div class="">
        <div>Familiar with Adobe Suite</div>
    </div>
    <div class="">
        <div>General: competences in sewing, sculpting, drawing, painting</div>
    </div>
</section>