<style>
    section#section-education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .education-line-year {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .education-year {
        width: 200px;
        text-align: center;
    }

    .education-description {
        width: 70%;
    }

    h2 {
        color: #EEBF77;
        border-bottom: solid thin #EEBF77;
        font-size: 32px;
    }
    ul {
        list-style-type: none;
            
        -moz-padding-start: 0px;
        -webkit-padding-start: 0px;
        -khtml-padding-start: 0px;
        -o-padding-start: 0px;
    }

    .education-title {
        font-weight: bold;
    }
</style>

<section id="section-education">
    <h2>Formation</h2>
    <div class="education-line-year">
        <div class="education-year">2020 - 2024</div>
        <div class="education-description">Etudiante cycle ingénieur polytechnicien, Ecole Polytechnique, France</div>
    </div>
   <div class="education-line-year">
        <div class="education-year">2017 - 2020</div>
        <div class="education-description">Classe préparatoire aux grandes écoles, PCSI / PC* / PC*, Lycée Joffre, Montpellier</div>
    </div>
   <div class="education-line-year">
        <div class="education-year">2014 - 2017</div>
        <div class="education-description">Baccalauréat scientifique, Lycée Général Théodore Aubanel, Avignon</div>
    </div>
   
</section>