<style>
    section#section-education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .education-line-year {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        text-align: center;
    }

    .education-year {
        width: 200px;
    }

    .education-description {
        width: 70%;
    }
</style>

<section id="section-education">
    <h2>Education</h2>
    <div class="education-line-year">
        <div class="education-year">2020 - ...</div>
        <div class="education-description">Engineering student 2nd year, Ecole Polytechnique, France</div>
    </div>
    <div class="education-line-year">
        <div class="education-year">2021 - ...</div>
        <div class="education-description">Piano studies, Orsay conservatoire, France</div>
    </div>
    <div class="education-line-year">
        <div class="education-year">2009 - 2017</div>
        <div class="education-description">Piano studies, Avignon conservatoire, France</div>
    </div>

    <h2>Social and Volontary Work</h2>
    <div class="education-line-year">
        <div class="education-year">2020 - 2021</div>
        <div class="education-description">
            <div>Louise Michel College, Narbonne, France</div>
            <div>
                6-month internship, gave scientific courses to students in need.
                Worked with gifted students to prepare them for the French Mathematics Olympiades.
            </div>
        </div>
    </div>
    <div class="education-line-year">
        <div class="education-year">2016 - ...</div>
        <div class="education-description">
            <div>Private Teacher</div>
            <div>
                <ul>
                    <li>Worked with children as a piano teacher</li>
                    <li>Worked with children as a physics and mathematics teacher</li>
                </ul>             
            </div>
        </div>
    </div>
    <div class="education-line-year">
        <div class="education-year">2013 - 2015</div>
        <div class="education-description">
            <div>Society games association</div>
            <div>
                Vice president of an association I created with my father. Aim was to unite people with the same passions to play together. Organised events with Asmodee sponsoring.
            </div>
        </div>
    </div>

    <h2>Languages</h2>
    <div class="education-line-year">
        <div class="education-year">2013 - 2015</div>
        <div class="education-description">
            <ul>
                <li>French (Native)</li>
                <li>English (B1)</li>
                <li>German (B1)</li>
            </ul>
        </div>
    </div>
</section>