<style>
    .line-year {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
    }

    .year {
        width: 200px;
        text-align: center;
    }

    .description {
        width: 70%;
    }

    h2 {
        color: #EEBF77;
        border-bottom: solid thin #EEBF77;
        font-size: 32px;
    }

    a {
        color: #EEBF77;
    }
</style>

<section>
    <h2>Scientific Works</h2>
    <div class="line-year">
        <div class="year">2019 - 2020</div>
        <div class="description">
            <div><a href="">How to create perfect ”frozen fingers of death” ?</a></div>
            <div>Research on how icicles are created and what parameters influence their width and length. A project mainly about hydrodynamics and thermodynamic diagrams. 
                Conceived protocols and experiments at home, with correct results.</div>
        </div>
    </div>

    <div class="line-year">
        <div class="year">2018 - 2019</div>
        <div class="description">
            <div><a href="">Creation and evolution of sand dunes</a></div>
            <div>Worked in cooperation with Nolwen Chabaud about the impact of wind, humidity and gravel size on the formation, properties and evolution of sand dunes. Based our experiments and research on the work of Bagnold, with the help of a member of the National Center of Research in Grenoble, France.</div>
        </div>
    </div>

    <h2>Arts Works</h2>
</section>