<section>
    <div>
        <div>AMR–TARDIF Dune</div>
        <div>dune.amr-tardif@polytechnique.edu</div>
        <div>(+33) 752.62.22.57</div>
    </div>
    <p>2nd year student of the engineering cycle at Ecole Polytechnique, 1st year of musicology degree at Sorbonne University and in pursuit of the Cycle 3 piano diploma at Orsay conservatoire . Open-minded and curious about art history, I enjoy debating  with people about everyday life subjects. Expect to  follow  the X-Architecture bi-cursus  next year and to work as an architect in the future.</p>
</section>