<style>
    div#name {
        font-size: 84px;
        font-weight: bold;
    }

    h1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
    }

    div#name > h1 > span {
        padding-right: 20px;
    }

    span#name-1 {
        color: #EEBF77;
    }
    span#name-2 {
        color: #EEBF77;
    }

    #mail {
        top: 0px;
    }
    
    a {
        color: #EEBF77;
    }

</style>

<section>
    <div>
        <div id="name"><h1><span id="name-1">AMR–TARDIF</span><span id="name-2">Dune</span></h1></div>
        <div id="mail"><a href="mailto:dune.amr-tardif@polytechnique.edu">dune.amr-tardif@polytechnique.edu</a></div>
        <div>(+33) 752.62.22.57</div>
    </div>
    <!-- <div>2nd year student of the engineering cycle at Ecole Polytechnique, 1st year of musicology degree at Sorbonne University and in pursuit of the Cycle 3 piano diploma at Orsay conservatoire . Open-minded and curious about art history, I enjoy debating  with people about everyday life subjects. Expect to  follow  the X-Architecture bi-cursus  next year and to work as an architect in the future.</div> -->
    <div>
        <p>
            Originally from Avignon, I am now a student at the Ecole Polytechnique and the Conservatoire d'Orsay. I plan to invest myself in the fields of design and creation in the years to come.
        </p>
    </div>

</section>